<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
		xmlns:th="http://www.thymeleaf.org">

<head>
	<meta charset="UTF-8">
	<title>User Registration</title>
	<link rel="stylesheet" th:href="@{/styles.css}">
</head>

<body>
	<div class="grid">
		
		<div class="block" id="pageHeader">HEADER</div>
		
		<div class="areaForData" id="dataArea">
			<h2>Регистрация пользователя</h2>
			
			<form th:method="post" th:action="@{/register}">
				<!-- <input type="hidden" name="_csrf" th:value="${_csrf.token}"> -->
				
				<label for="username">Имя пользователя.........:</label>
				<input type="text" name="username">
				<div th:if="${errorName}" style="color:red">
					Имя пользователя не может быть пустым!</div> <!-- -->
				<br><br>
				
				<label for="password">Пароль...........................:</label>
				<input type="password" name="password">
				<br><br>
				
				<label for="confirm">Подтверждение пароля:</label>
				<input type="password" name="confirm">
				<div th:if="${errorPass}" style="color:red">
					Пароль и подтверждение пароля не совпадают!</div> 
				<br><br>
				
				<label for="email">Почта пользователя......:</label>
				<input type="text" name="email">
				<br><br>
				
				<button>Сохранить пользователя</button>
			</form>
		</div>
		
		<div class="block" id="serviceArea">SERVICE
			<br><br><b><a th:href="@{/}">На главную страницу ...</a></b>
		</div>
		
		<div class="block" id="pageFooter">FOOTER</div>
		
	</div>
</body>

</html>